.fa-angle-down{
    float:right;
}
.delete-form{
    display:inline;
}
a{
    color: unset;
    text-decoration: unset;
}
a:hover{
    color: unset;
    text-decoration: unset;
}
p{
    display: inline;
}
.text-muted{
    display: inline;
}
.img-thumbnail{
    margin-top:30px;
}
::-webkit-input-placeholder, input{
    text-align:center;
}
h1{
font-family: 'Roboto Condensed', sans-serif;
}